*{
    margin:0;
    padding:0;
}

nav{
    background-color:rgb(181, 11, 11);
    color:white;
    padding:20px;
}

li,h1,ul{
    display:inline;
    text-decoration:none;
}

ul{
    margin-left:85%;
}

li{
    color:white;
    cursor:pointer;
}
a{
    text-decoration: none;
    color:white;

}

li:hover{
    color:black;
    
}
body{
    background-color:black;
}
.container{
    padding: 20px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
#one{
    margin-right:1px;
}
.container div{
    width:200px;
    color:white;
    margin:10px;
    flex-basis:20%;
}
p,pre,b,hr{
    color:white;
}
form{
    width:100px;
    height:200px;
    text-align:center;
}


.popupbox{
    position:absolute;
    z-index: 3;
    background-color: white;
    color:black;
    width:40%;
    padding:20px;
    border-radius: 10px;
    left:30%;
    display:none;

}
footer {
    text-align: center;
    padding: 20px;
    background-color:rgb(181, 11, 11);

    color:white;
    position: relative;
    bottom: 0;
    width: 100%;
}


orm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}


input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 15px;
    border: 1px;
    border-width:2em;
    border-radius: 30px;
    cursor: pointer;
    background-color:blue;
    color:white;
    margin: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #555;
}

button:hover{
    background-color:rgb(173, 219, 33);
}




